@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    font-family: "Jost";
}

.header{
    width: 100%;
    height: 55px;
    background-color: #E1EBE2;
    align-content: center;
    font-size: 25px;
}



#nav{
    display: flex;
    align-content: center;
}

.navtext{
    margin-left: 35px;
}

#main{
    height: 908px;
    width: 100%;

}

#roxinho{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50%;
    background-color: #C6A9E1;
}

#espaco1{
    margin-left: 5%;
}

#cinzinha{
    width: 100%;
    height: 50%;
    background-color: #222423;
    display: flex;
    align-items: center;
    justify-content: center;

}

.lorem1{
    color: #222423;
    font-size: 140px;
    margin-left: 5%;
    display: flex;

}

#lorem2{
    color: #E1EBE2;
    font-size: 30px;
    width: 90%;
    font-weight: 300;
}

#lorem3{
    font-size: 7em;
}

#lorem4{
    font-size: 2em;
}

#lorem5{
    font-size: 7em;
    color: #605AA0;
}

#lorem6{
    font-size: 2em;
    color:  #E1EBE2;
}

#grid{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

#brichos{
    height: 908px;
    width: 100%;
    background-color: #605AA0;
}

.separazao{
    margin-left: 5%;
    padding-top: 5%;
}

#tamanho1{
    width: 55%;
}

#tamanho2{
    width: 40%;
}

#projetinho{
    height: 908px;
    width: 100%;
    background-color: #222423;
}

#contact{
    height: 908px;
    width: 100%;
    background-color: #E1EBE2;
}